html, body
{
  height: 100%;
}

header, nav,  main
{
  padding: 20px 30px;
}
header
{
  float: left;
}
nav
{
  float:right;
}
main
{
  clear: both;
}

body
{
  font-family:  'Lato', sans-serif;
  background: #FFFC66;
  color: white;
  font-size: 1vw;
  padding: 0;
  margin: 0;
}

.home
{
    background-image: url("images/asteroids.jpg");
}

.myKidImage
{
  float: left;
  margin: 0 10px 0 0;
}

blockquote
{
  clear: both;
  text-align: center;
  padding: 10px;
}

blockquote p
{
  font-family: 'Sansita', 'Lato', sans-serif;
}

h1, h2
{
  font-family: 'PT Sans Narrow', 'Lato', sans-serif;
  font-weight: 20px; /* removes default bold styles */
  text-transform: uppercase;
  margin: 0;
}

nav a
{
  padding: 10px 20px;
  font-size: 1vw;
}

a
{
  color: #F598E4;
}

/* FOOTER STYLES
-----------------------------------------*/
/* Sticky Footer - http://css-tricks.com/snippets/css/sticky-footer */
.page-wrap
{
  min-height: 100%;
  margin-bottom: -55px; /* must be the same height as footer */
}
.page-wrap:after
{
  content: "";
  display: block;
}
footer, .page-wrap:after
{
  height: 55px; /* however tall you want the footer to be */
}
footer
{
  font-size: 0.8vw;
  text-align: center;
}

/* CONTACT STYLES
-----------------------------------------*/
.contact_form_wrapper
{
  padding: 20px;
}

.contact_form
{
    clear: both;
}
form
{
  font-family:  'Lato', sans-serif;
  width: 400px;
}
input, textarea
{
  border: 1px solid #F598E4;
  width: 400px;
  margin-bottom: 10px;
}
input
{
  height: 20px;
}
textarea
{
  height: 100px;
}
button
{
  background: #F598E4;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}
